.gallery {
border: 10px solid violet(light);
padding: 2em 0;
background: #f9eff7;
@include container;
@include mq(large) {
@include container($width: 50%);
}


&__title {
color: violet(medium);
}
}


.slideshow-container {
position: relative;
max-width: 450px;
margin: 0 auto;

}

.mySlides {
display: none;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
height: auto;
padding: 1em;
color: white;
text-decoration: none;
user-select: none;
margin-top: -1.5em;
font-size: 1rem;


}

.next {
right: 0;

}

.prev {
left: 0;
}

.prev:hover, .next:hover {
background: linear-gradient(45deg, violet(dark), violet(medium));
}

.text {
position: absolute;
width: 100%;
padding: 1em;
color: white;
bottom: 1em;
}

.numbertext {
position: absolute;
top: 0;
color: white;
padding: 1em;
font-size: .7rem;
}

.dot {
cursor: pointer;
width: 15px;
height: 15px;
border-radius: 50%;
background: violet(light);
display: inline-block;
margin: 1em .5em;

}

.active, .dot:hover {
background: linear-gradient(45deg, violet(dark), violet(medium));
  }

.fade {
animation: fade 1.5s;
}


@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }