

$ff-montserrat: 'Montserrat', sans-serif;
$ff-thasadith: 'Thasadith', sans-serif;
$ff-exo: 'Exo 2', sans-serif;
$ff-acme: 'Acme', sans-serif;
$ff-crete: 'Crete Round', serif;
$ff-assistant: 'Assistant', sans-serif;


$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

