@import url('https://fonts.googleapis.com/css?family=Acme|Assistant:300,400,700|Crete+Round|Exo+2:300,400,500,700,900|Montserrat:300,400,500i,700i,900|Thasadith');

$ff-montserrat: 'Montserrat', sans-serif;
$ff-thasadith: 'Thasadith', sans-serif;
$ff-exo: 'Exo 2', sans-serif;
$ff-acme: 'Acme', sans-serif;
$ff-crete: 'Crete Round', serif;
$ff-assistant: 'Assistant', sans-serif;


$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

